{erl_opts, [debug_info, fail_on_warning]}.

{deps_dir, ["deps"]}.

{deps, [
        {ranch, ".*", {git, "https://github.com/extend/ranch.git", {branch, "master"}}},
        {sync             , ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
        {eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, "master"}}}
]}.
